{% extends 'baseMainUser.html.twig' %}

{% block title %}Commentaires pour le post #{{ postId }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Commentaires pour le post #{{ postId }}</h1>

        {% if commentaires is not empty %}
            <ul>
                {% for commentaire in commentaires %}
                    <li>
                        <p>{{ commentaire.contenu }}</p>
                        <small>Posté par l'utilisateur #{{ commentaire.idUser }}</small>
                            <a href="{{ path('app_commentaire_show', {'id': commentaire.id}) }}" class="btn btn-info">Voir</a>
                           <!-- <a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}" class="btn btn-warning">Modifier</a>-->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun commentaire trouvé.</p>
        {% endif %}
 <a href="{{ path('app_commentaire_new', {'postId': postId}) }}">Ajouter un commentaire</a>


        <a href="{{ path('app_post_front', {'id': postId}) }}" class="btn btn-secondary">Retour au post</a>
    </div>
{% endblock %}